GlobalGameJam/Library
GlobalGameJam/Temp
.DS_Store

*.csproj

*.csproj

*.csproj

GlobalGameJam/Assembly-CSharp-Editor-vs.csproj

GlobalGameJam/Assembly-CSharp-Editor.csproj

GlobalGameJam/Assembly-CSharp-Editor.csproj

GlobalGameJam/Assembly-CSharp-vs.csproj

GlobalGameJam/Assembly-CSharp.csproj

GlobalGameJam/Assembly-CSharp.pidb

GlobalGameJam/Assembly-CSharp.pidb

GlobalGameJam/GlobalGameJam-csharp.sln

GlobalGameJam/GlobalGameJam-csharp.sln

GlobalGameJam/GlobalGameJam.sln

GlobalGameJam/GlobalGameJam.sln

GlobalGameJam/GlobalGameJam.userprefs

GlobalGameJam/GlobalGameJam.userprefs

*.pidb

*.pidb

*.pidb

GlobalGameJam/Assembly-CSharp-Editor.pidb

GlobalGameJam/Assembly-CSharp-firstpass.pidb

GlobalGameJam/Assembly-CSharp-firstpass.pidb
